*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --modalBg: rgb(0, 0, 0);
    --transition: all 0.3s linear;
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html{
    min-width: 100%;
    min-height: 100%;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.center{
    margin-top: 100px;
    min-height: 100vh;
    max-width: 1400px;
    width: 90vw;
}

.images-nature{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 200px;
}

.images-city{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .images-nature{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
    }

    .images-city{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px){
    .images-nature{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .images-city{
        grid-template-columns: 1fr;
    }
    .center{
        min-width: 90vw;
    }
}

img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: var(--transition);
}

img:hover{
    cursor: pointer;
    box-shadow: var(--shadow);
}