*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --modalBg: rgb(0, 0, 0);
    --transition: all 0.3s linear;
    --shadow: rgba(128, 135, 141, 0.692) 0px 8px 24px;
}

html{
    min-width: 100%;
    min-height: 100%;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.center{
    margin-top: 100px;
    min-height: 100vh;
    max-width: 1400px;
    width: 90vw;
}

.images-nature{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 200px;
}

.images-city{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 100px;
}

@media (max-width: 1200px) {
    .images-nature{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
    }

    .images-city{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px){
    .images-nature{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
    .images-city{
        grid-template-columns: 1fr;
    }
    .center{
        min-width: 90vw;
    }
}

img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: var(--transition);
}

img:hover{
    cursor: pointer;
    box-shadow: var(--shadow);
}

.modal{
    background-color: var(--modalBg);
    min-width: 100%;
    position: fixed;
    overflow: scroll;
    min-height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.open{
    display: block;
    z-index: 20;
}

.close-section{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.close-btn{
    background: transparent;
    color: white;
}
.close-btn i{
    font-size: 3rem;
    cursor: pointer;
}

.image-modal{
    display: flex;
    align-items: center;
    margin: 0 15px;
}
.arrow{
   max-height: fit-content;
   background: transparent;
   cursor: pointer;
}
.arrow i{
    color: white;
    font-size: 3rem;
}

.modal .image-content{
    cursor: default;
    box-shadow: none;
    min-height: 400px;
    object-fit: cover;
}

.title{
    display: flex;
    justify-content: center;
}

.title h3{
    color: white;
    text-transform: capitalize;
    margin: 20px 0 30px 0;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
}

.images-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 70px;
}

.images-list img{
    max-height: 100px;
    border-radius: 0;
    opacity: 0.6;
    object-fit: fill;
}

.images-list img:hover{
    opacity: 1;
}